* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Outfit", sans-serif;
	min-height: 100dvh;
	background-color: hsl(212, 45%, 89%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	padding: 1.5rem;
	width: 350px;
	color: hsl(218, 44%, 22%);
	background-color: hsl(0, 0%, 100%);
	border-radius: 1.25rem;
}

img {
	width: 100%;
	border-radius: 1rem;
}

h1 {
	margin-top: 1rem;
	font-size: 25px;
	font-weight: 700;
	text-align: center;
}

p {
	width: 250px;
	margin-block: 1rem;
	margin-inline: auto;
	font-size: 15px;
	text-align: center;
}

@media screen and (max-width: 375px) {
	.card {
		max-width: 330px;
		margin-inline: 10px;
	}

	p {
        width: 90%;
		word-wrap: break-word;
	}
}
